<div class="messages">
 
  <div class="messages__content">

     <%= link_to  messages_path, method: :delete do %> 
      <i class="fa fa-remove"></i>
     <% end %> 
  
        
    <div class="messages__content__message">
    
      <%# <% if @message.content.present? %>
       <%# <%= @message.content %>   
      <%# <%= image_tag @message.image.url, class: 'messages__content__image' if message.image.present? %> 
      <%# <% end %> 

      <% @messages.each do |message| %>

         <p class="messages__content__message__name"><%= message.user.name%></p>

         <p class="messages__content__message__text"><%= message.content %><br></p>
         
        <% if @message.image.present? %>
            <%= @message.image %>
        <% end %>   
       
      <% end %>  
    </div>  

  </div>



  <div class="messages__form">

    <div class="message">
      <%= form_with model: @message, class: :message__btn, local: true do |form| %>
        <%= form.text_field :content, placeholder: :メッセージを入力, class: :message__text %>
          <%= form.label :image, class: :message__image do %>
            <%= icon('fas', 'image', class: :'message__icon') %>
            <%= form.file_field :image, class: :'message__hidden' %>
          <% end %>
        <%= form.submit '送信', class: :message__submit %>
      <% end %>
    </div>

    <div class="my-page__myself__prof__edit">
    <%= link_to "戻る", "/users/#{current_user.id}", class: "my-page__myself__prof__edit--btn" %>
    </div>

  </div>

     
</div>



