<%# <%= form_with(model: @user, local: true) do |form| %>
  <%# <%= form.text_area :text, placeholder: "text" , rows: "30" %>
  <%# <%= form.submit "SEND", class: "edit-list" %>
<%# <% end %> 

<%= form_for(current_user) do |f| %>
  
  <div class="edit-field">
    <%= f.label :名前%>
    <%= f.text_field :name, autofocus: true %>
  </div> 
  <div class="edit-field">
    <%= f.label :性別%>
    <%= f.text_field :sex, autofocus: true %>
  </div> 
  <div class="edit-field">
    <%= f.label :年齢%>
    <%= f.text_field :age, autofocus: true %>
  </div> 
  <div class="edit-field">
    <%= f.label :職業%>
    <%= f.text_field :job, autofocus: true %>
  </div> 
  <div class="edit-field">
    <%= f.label :身長%>
    <%= f.text_field :tall, autofocus: true %>
  </div> 
  <div class="edit-field">
    <%= f.label :体重%>
    <%= f.text_field :weight, autofocus: true %>
  </div> 
  <div class="edit-field">
    <%= f.label :ここだけの話%>
    <%= f.text_field :secret, autofocus: true %>
  </div> 
  




  <div class="edit-actions">
    <%= f.submit "編集" %>
  </div>

  <% end %>


 <%# = form_for(current_user) do |f|
        .field
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, autofocus: true
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
        .actions
          = f.submit "Update", class: 'btn' %>
