<div class="mother">

  <h1 class="mother__welcome">おかえりなさい</h1>

  <ul class="mother__choice">
    <li>
      <%= link_to "部屋に戻る？", "/users/#{current_user.id}", class: "choose" %>
    </li>
    <li>
      <%= link_to "外に出る？", destroy_user_session_path, method: :delete, class: "choose" %>
    </li>
    <li>
      <%= link_to "最初からやり直す？", "https://www.google.com/", class: "choose" %>
    </li>
    <li>
      <%= link_to "阿部寛でも眺めとく？", "https://www.google.com/search?q=%E9%98%BF%E9%83%A8%E5%AF%9B&sxsrf=ACYBGNSg1kF9cVDtA0IMpyJrowbXUwgWUA:1580909728350&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjY1J7Ww7rnAhVOFYgKHYNnD", class: "choose" %>
    </li>
    <li>
      <%= link_to "閲覧注意！！絶対に押しちゃダメだよ！！！！", "https://lh3.googleusercontent.com/proxy/ce-bfAyXBW3xTkgRjaWJ6m6ER-b_Fjv_hkR7ITVP6U0VMGa7zGX9m2H7RuGBIYsYhYY9g4UDrs6kFTxdV92eHCK1ipc", class: "choose" %>
    </li>
  </ul>


</div>


