
<div class="posts">
 <%= link_to "戻る", "/users/#{current_user.id}", class: "my-page__myself__prof__edit--btn" %>
 
  <div class="posts__content">
     

    <%= link_to "新規投稿", new_post_path, class: "posts__content__new-btn" %>
      <% @posts.each do |post| %>
    <div class="posts__content__list">

      <div class="posts__content__list__top">
        <div class="posts__content__list--title">
        <%= link_to post.title, post_path(post.id), class: "posts__content__list--title--btn" %>

        <%= link_to  post_path(post.id), method: :delete do %> 
          <i class="fa fa-remove"></i>
        <% end %> 
          
    
    
        </div>
      </div> 

      <div class="posts__content__list__bottom">  
        <div class="posts__content__list--date">
        <%= post.created_at %>
        </div>
      </div>

    </div>  
    
 　<% end %>

    
  </div>
     
 
 
</div>



