<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div id="btns" class="header__title">
        <%= link_to "MY HOME PAGE", root_path, class: "header__title--text" %>
      </div>
      <div class="header__right">
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--out" %>
          
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "header__right--in" %>
          <%= link_to "新規登録", new_user_registration_path, class: "header__right--up" %> 
        <% end %>  
      </div>
    </header>
    <div class="contents">
    <%= yield %>
    </div>
  </body>
</html>
